.equacao-regra-tres .equacao-dropzone {
    position: relative;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 16px 64px;
    justify-content: center;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 3rem); 
    column-gap: 64px;
    row-gap: 16px;*/
}

.equacao-regra-tres .equacao-dropzone .swapy-slot {
    background-color: #E2E8F0;
    width: 0;
    flex: 1 1 calc(50% - 64px);
    max-width: 10rem;
    height: 3rem;
    /* width: 100%;
    height: 100%; */
    padding: 4px;
}

.equacao-regra-tres .equacao-xmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.equacao-regra-tres .equacao-xmark p {
    font-size: 5rem;
    font-weight: 300;
}

