.game {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;
    height: max(100%, 100vh);

    padding: 2rem;
}

.game-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

input,
select {
    height: 2.5rem;

    border-radius: 0.5rem;
    padding: 0 1rem;
    border: none;

    color: var(--color-foreground-1);
    background-color: var(--color-background-1);
}

.value-converter {
    display: flex;
    flex-direction: column;

    background-color: var(--color-background-0);
    border-radius: 0.5rem;
    padding: 0.5rem;

    width: min(500px, 90%);
    gap: 0.5rem;
}

.value-converter div {
    flex-direction: row;
    display: flex;
    gap: 0.25rem;

    /* padding: 1rem; */
    select,
    input {
        display: unset;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    select {
        width: 60%;
    }

    input {
        width: 40%;
    }
}

.value-converter div.disabled {

    span,
    input {
        display: none;
    }
}