.swapy-sandbox * {
    padding: 0;
    margin: 0;
    
}

.swapy-sandbox {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.swapy-container {
    padding: 2rem;
    border-radius: 6px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.swapy-resposta,
.swapy-alt { 
    display: flex;
    gap: 2rem;
    align-items: center;
}

.swapy-resposta {
    flex-direction: column;
}

.swapy-resposta .swapy-slot {
    position: relative;
    width: 380px;
    height: 220px
}
.swapy-resposta .swapy-slot:not(:has(*))::after {
    position: absolute;
    inset: 0 0 0 0;
    transform: translateY(calc(50% - 0.5lh));
    content: 'Resposta';
    color: gainsboro;
}

.swapy-resposta .btn {
    height: 3rem;
}

.swapy-slot {
    width: 180px;
    height: 220px;
    border-radius: 6px;
    background-color: #151518;
    padding: 1rem;
    transition: background-color 0.5s ease;
}

.swapy-slot[data-swapy-highlighted] {
    background-color: #48484d;
}

.swapy-item {
    width: 100%;
    height: 100%;
    background-color: #0d6efd;
    border-radius: 6px;
    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}