.swapy-sandbox {
    flex-direction: column;
    display: flex;
    margin: 2rem;
    gap: 4rem;
}

.swapy-sandbox * {
    padding: 0;
    margin: 0;
}

.swapy-sandbox .swapy-container {
    flex-direction: column;
    gap: 2rem;
}

.swapy-sandbox .swapy-slot {
    height: 220px;
    width: 180px;
}

.swapy-sandbox .swapy-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

    background-color: #0d6efd;
    color: #fafafa;
}

.swapy-resposta-container {
    flex-direction: column;
}

.swapy-resposta-container,
.swapy-alt-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.swapy-resposta-container .swapy-slot {
    position: relative;
    width: 380px;
    height: 220px
}

.swapy-resposta-container .swapy-slot:not(:has(*))::after {
    transform: translateY(calc(50% - 0.5lh));
    position: absolute;
    inset: 0 0 0 0;

    content: 'Resposta';
    color: #fafafa;
}

.swapy-resposta .btn {
    height: 3rem;
}